<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
   <welcome-file-list>
      <welcome-file>pages/index.html</welcome-file>
   </welcome-file-list>
   <servlet>
      <servlet-name>ServletHGG</servlet-name>
      <servlet-class>ServletHGG</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>ServletHGG</servlet-name>
      <url-pattern>/GoSss</url-pattern>
   </servlet-mapping>
</web-app>